{% extends 'base.html' %}

{% block title %}{{ task.summary }}{% endblock %}

{% block menu %}
    {% if perms.webapp.change_task %}
        <li><a href="{% url 'webapp:task_update' task.pk %}">Edit</a></li>
    {% endif %}
    {% if perms.webapp.delete_task %}
        <li><a href="{% url 'webapp:task_delete' task.pk %}">Delete</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Summary:{{ task.summary }}</h2>
        <div class="pre">Description: {{ task.description }}</div>
        <div>Status:{{ task.status }}</div>
        <div>Type:{{ task.type }}</div>
        <p>Data:{{ task.created_at|date:'d.m.Y H:i:s'}}</p>
        <p>Created by:{{ task.created_by}}</p>
        <p>Name of project:{{ task.project}}</p>
{% endblock %}