{% extends 'base.html' %}

{% block menu %}
    {% if perms.webapp.add_project %}
        <li><a href="{% url 'webapp:project_create' %}">Add Project</a></li>
    {% endif %}
    <div class="float-right">{% include 'partial/simple_search.html' %}</div>

{% endblock %}

{% block content %}

    <h1>Projects:</h1>
    <hr/>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <hr/>
    {% for project in projects %}
        {% csrf_token %}
        <h2>Name:{{ project.name }}</h2>
        <div>Description: {{ project.description }}</div>
        <p>Data:{{ project.created_at|date:'d.m.Y H:i:s'}}</p>
            <p>
                <a href="{% url 'webapp:project_view' project.pk %}">More...</a>
                {% if perms.webapp.change_project %}
                    <a href="{% url 'webapp:project_update' project.pk %}">Update</a>
                {% endif %}
                {% if perms.webapp.delete_project %}
                    <a href="{% url 'webapp:project_delete' project.pk %}">Delete</a>
                {% endif %}
            </p>
        <hr/>
    {% endfor %}

{% endblock %}