{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'project_view' project.pk %}">View</a></li>
{% endblock %}

{% block content %}
    <h1>Are you sure to delete {{ project }}?</h1>

    <form method="POST" action="{% url 'project_delete' project.pk %}" class="text-centre">
        {% csrf_token %}
        <p><input type="submit" value="Confirm" id="input"></p>
        <p><a href="{% url 'project'%}">Cancel</a></p>
    </form>

{% endblock %}